.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-container {
  display: flex;
  align-items: center;
}

.button {
  height: 25px;
  margin: 10px;
}

.image {
  height: 350px;
  width: 350px;
  border-radius: 10px;
}
