.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 400px;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  background-color: darkslategrey;
}

.sub-container {
  display: flex;
}

.star-container {
  cursor: pointer;
  padding: 2px;
  font-size: x-large;
}
